# Visual Studio временные файлы
.vs/
[Dd]ebug/
[Rr]elease/
x64/
x86/
*.user
*.aps
*.2019.sz
*.suo
*.db
*.opendb
*.VC.db
*.VC.opendb

# Файлы VS Code (удаляем из отслеживания)
.vscode/
.history/

# Скомпилированные файлы
*.exe
*.pdb
*.obj
*.ilk
*.log
*.tlog
*.lastbuildstate